.square {
  width: 100%;
  height: 100%;
  display: inline-block;
  box-shadow: inset 0 4px 3px rgba(255, 255, 255, .24), inset 0 -2px 4px rgba(23, 22, 24, .16), 0 16px 8px rgba(23, 22, 24, .08), 0 8px 4px rgba(23, 22, 24, .08), 0 4px 2px rgba(23, 22, 24, .08), 0 2px 1px rgba(23, 22, 24, .08), 0 0 1px rgba(23, 22, 24, .24);
}
a>button>.square.clicked{
  background-color: #ffe898;
}
a>button>.square.unclicked{
  background-color: #f5c51b;
}
.square.clicked {
  background-color: #f5c51b;
  transition: background-color 1s ease;
}
.square.unclicked{
  transition: background-color 1s ease;
  background-color: #ffe898;

}
.square.unclicked:hover {
  background-color: #ffe898;
}

.delight-wrapper.incognito:hover .delight-incognito-image.eyes {
  animation: bounce 1s ease-in-out 2;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.delight-wrapper.incognito:hover .delight-incognito-image.mask {
  transform: rotateZ(-120deg);
  transition: transform 0.5s ease;
}

.delight-wrapper.incognito .delight-incognito-image.mask {
  transition: transform 0.5s ease;
}

div.delight-theme-colors.translate-colors-half{
  transform:translateX(10%);
  transition: all 1.8s ease;
}
div.delight-theme-colors.translate-colors-half-right{
  transform:translateX(-10%);
  transition: all 1.8s ease;
}

div.delight-theme-colors.translate-colors-full{
  transform:translateX(14%);
  transition: all 1.8s ease;
}
div.delight-theme-colors.translate-colors-full-right{
  transform:translateX(-14%);
  transition: all 1.8s ease;
}

div.delight-collab-arrow.blue-to-green{
  transform:rotate(180deg) ;
  transition: transform 0.8s ease;
}

div.delight-collab-arrow.yellow-to-green{
  transform:rotate(110deg) ;
  transition: transform 0.8s ease;
}
div.delight-collab-arrow.green-to-yellow{
  transform:rotate(-75deg) ;
  transition: transform 0.8s ease;
}

div.delight-collab-arrow.blue-to-yellow{
  transform:rotate(240deg) ;
  transition: transform 0.8s ease;
}

div.delight-collab-arrow.green-to-blue{
  transform:rotate(0deg) ;
  transition: transform 0.8s ease;
}

div.delight-collab-arrow.yellow-to-blue{
  transform:rotate(60deg) ;
  transition: transform 0.8s ease;
}

.title3 {
  margin-bottom: 10px;
  font-weight: 700;
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

.w-embed:before,
.w-embed:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.w-embed:after {
  clear: both;
}

.w-input,
.w-select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  line-height: 1.42857;
  display: block;
}

.w-input:-moz-placeholder {
  color: #999;
}

.w-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.w-input::-webkit-input-placeholder {
  color: #999;
}

.w-input:focus {
  border-color: #3898ec;
  outline: 0;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container7:before,
.w-container7:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.w-container7:after {
  clear: both;
}

@media screen and (max-width: 991px) {
  .w-container7 {
    max-width: 728px;
  }
}

.delight.preview:hover .delight-preview-inner {
  animation: blink linear infinite 4s;
}

@keyframes blink {
  24% {
    transform: scaleY(1);
  }

  26% {
    transform: scaleY(0.2);
  }

  28% {
    transform: scaleY(1);
  }
}

.delight-search-input {
  border: none;
}

.delight-theme-button.w--current .delight-theme-icon {
  filter: drop-shadow(0 5px 1.5px rgb(0 0 0 / 24%));
}

.delight-theme-button:hover {
  color: currentcolor;
  opacity: 1;
}

.delight-theme-button:hover .delight-theme-icon,
.delight-theme-button.w--current .delight-theme-icon {
  opacity: 1;
}

.delight-theme-button.light.w--current:hover {
  background-color: #f5f3f4 !important;
}

div.delight-theme-button.dark.w--current,div.delight-theme-button.dark.w--current:hover{
  background-color: #454345 !important;
}
/* div.delight-theme-button.light:hover {
  background-color: #f5f3f4 !important;
} */

.delight-theme-button.dark.w--current {
  box-shadow: inset 0 8px 8px 0 hsl(0deg 0% 100% / 16%),
    inset 0 -12px 12px 0 rgb(0 0 0 / 50%), inset 0 -2px 4px 0 rgb(0 0 0 / 60%),
    0 16px 8px 0 rgb(0 0 0 / 16%), 0 8px 4px 0 rgb(0 0 0 / 16%),
    0 4px 2px 0 rgb(0 0 0 / 16%), 0 2px 1px 0 rgb(0 0 0 / 16%),
    0 0 1px 0 rgb(0 0 0 / 48%) !important;
}


/* .delight-theme-color-circle {
  background-color: currentcolor;
} */

.delight-theme-color:hover .delight-theme-color-circle {
  transform: scale(0.95);
}

.delight-collab-circle {
  background-color: currentcolor;
}

.delight-bulk {
  border-color: currentcolor;
}

.delight-bulk-check {
  background-color: currentcolor;
}

.delight-bulk:hover .delight-bulk-check {
  opacity: 0.5;
}

.delight-bulk.active .delight-bulk-check {
  opacity: 1;
}

.delight-search-icon {
  filter: drop-shadow(0 4px 1.5px rgb(0 0 0 / 24%));
}

.delight-search-wrapper:hover .delight-search-icon {
  filter: drop-shadow(0 7px 3px rgb(0 0 0 / 24%));
  transform: rotate(-8deg) perspective(1200px) translate3d(0px, 0px, 100px) perspective(1200px) perspective(1200px);
  transform-style: preserve-3d;
}

.w-tabs {
  position: relative;
}

.w-tabs:before,
.w-tabs:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.w-tabs:after {
  clear: both;
}

.w-tab-menu {
  position: relative;
}

.w-tab-link {
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  color: #222;
  background-color: #ddd;
  padding: 9px 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-tab-link.w--current {
  background-color: #c8c8c8;
}

.w-tab-link:focus {
  outline: 0;
}

.w-tab-content {
  display: block;
  position: relative;
  overflow: hidden;
}

.w-tab-pane {
  display: none;
  position: relative;
}

.w--tab-active {
  display: block;
}


@keyframes spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}



.delight-cover-drag>img#drag-image{
  user-drag:none;
}


div.delight.theme.black{
  background-color: var(--black);
}

div.delight.theme.white{border:3px solid var(--white)}
div.delight.theme.yellow{border:3px solid var(--yellow)}
div.delight.theme.blue{border:3px solid var(--blue);}
div.delight.theme.orange{border:3px solid var(--orange)}
div.delight.theme.pink{border:3px solid var(--pink)}
div.delight.theme.green{border:3px solid var(--green)}




.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}


.section-title7 .title7 {
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-family: ABC Marfa, sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1;
}

/* .title3 {
  margin-top: 0;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1;
} */

.body-small {
  color: var(--grey);
  margin-bottom: 0;
  font-size: 0.9em;
}

.section-7 {
  padding: 1rem 0 1rem;
  overflow: hidden;
}

.container7 {
  width: 100%;
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 3.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tagline7 {
  margin-bottom: 0;
  font-size: 1.2em;
  line-height: 1.4;
}

.section-title7 {
  width: 100%;
  max-width: 670px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto 3.2rem;
  display: flex;
  position: relative;
}

.section-title7.is-large {
  max-width: 850px;
}

.delights-grid7 {
  width: 100%;
  max-width: 900px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Cover Cover Cover" "Preview Pin Pin" "Search Search Themes" "Bulk Shortcuts Themes" "Bulk Collab Collab" /1fr 1fr 1fr;
  margin: 0 auto 4rem;
  display: grid;
  position: relative;
}

.delight {
  width: 100%;
  height: 100%;
  min-height: 220px;
  border: 1px solid var(--borders);
  transform-style: preserve-3d;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.delight:hover {
  z-index: 1;
  border-color: rgba(56, 56, 138, 0.24);
  transform: perspective(1200px) translateZ(24px);
  box-shadow: 0 24px 48px -16px rgba(56, 56, 138, 0.2);
}

.delight.preview {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.delight.theme,
.delight.bulk,
.delight.shortcuts {
  flex-direction: column;
  align-items: stretch;
}

.delight-content7 {
  width: 100%;
  max-width: 12.8rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.2rem;
  display: flex;
}

.delight-content.preview {
  max-width: none;
}

.delight-content.cover {
  height: 100%;
}

.delight-content.search {
  height: 100%;
  justify-content: center;
}

.delight-content.shortcuts {
  z-index: 99;
  max-width: none;
  position: relative;
}

.delight-content.themes,
.delight-content.bulk {
  max-width: none;
}

.delight-content.incognito {
  height: 100%;
}

.delight-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.delight-wrapper.cover {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 48px;
  display: flex;
}

.delight-wrapper.preview {
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.delight-wrapper.search {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.delight-wrapper.theme {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.delight-wrapper.shortcuts {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.delight-wrapper.bulk {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.delight-wrapper.incognito {
  justify-content: center;
  align-items: center;
  display: flex;
}

.delight-content.realtime {
  padding: 1.2rem 1.2rem 1.2rem 0.7rem;
}

.delight-wrapper.realtime {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 16px 32px;
  display: grid;
}

.delight-shortcuts-key {
  width: 3.4em;
  height: 3.4em;
  background-image: linear-gradient(#faf8f9, #f0eeef);
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  position: relative;
  box-shadow: inset 0 0 4px rgba(23, 22, 24, 0.16), inset 0 4px 2px #fff,
    inset 0 12px 24px #fff, 0 16px 8px rgba(23, 22, 24, 0.08),
    0 8px 4px rgba(23, 22, 24, 0.08), 0 4px 2px rgba(23, 22, 24, 0.08),
    0 2px 1px rgba(23, 22, 24, 0.08), 0 0 1px rgba(23, 22, 24, 0.24);
}

.delight-shortcuts-key:hover {
  transform: translateY(-2px);
  box-shadow: inset 0 0 4px rgba(23, 22, 24, 0.16), inset 0 4px 2px #fff,
    inset 0 12px 24px #fff, 0 20px 10px rgba(23, 22, 24, 0.08),
    0 8px 4px rgba(23, 22, 24, 0.08), 0 4px 2px rgba(23, 22, 24, 0.08),
    0 2px 1px rgba(23, 22, 24, 0.08), 0 0 1px rgba(23, 22, 24, 0.24);
}

.delight-shortcuts-key.active {
  color: var(--blue--hover);
  transform: translateY(4px);
  box-shadow: inset 0 0 4px rgba(23, 22, 24, 0.16), inset 0 4px 2px #fff,
    inset 0 12px 24px #fff, 0 8px 4px rgba(23, 22, 24, 0.08),
    0 4px 2px rgba(23, 22, 24, 0.08), 0 2px 1px rgba(23, 22, 24, 0.08),
    0 0 1px rgba(23, 22, 24, 0.24);
}

.delight-shortcut-key-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.delight-search-wrapper {
  width: 100%;
  height: 80px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid rgba(56, 56, 138, 0.24);
  border-left-style: none;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.delight-search-button {
  width: 100px;
  height: 100%;
  background-color: var(--yellow);
  border-radius: 80px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  box-shadow: inset 0 16px 32px rgba(255, 255, 255, 0.12),
    inset 0 8px 8px rgba(255, 255, 255, 0.24),
    inset 0 -12px 12px rgba(23, 22, 24, 0.08),
    inset 0 -2px 4px rgba(23, 22, 24, 0.12), 0 16px 8px rgba(23, 22, 24, 0.08),
    0 8px 4px rgba(23, 22, 24, 0.08), 0 4px 2px rgba(23, 22, 24, 0.08),
    0 2px 1px rgba(23, 22, 24, 0.08), 0 0 1px rgba(23, 22, 24, 0.24);
}

.delight-search-icon {
  z-index: 99;
  width: 32px;
  color: #000;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  position: relative;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
}

.delight-theme-colors {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  transition: all 2s ease;
}

.delight-theme-switch {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.delight-cover-wrapper.ui-droppable-active {
  border-color: rgba(23, 22, 24, 0.3);
  color: rgba(23, 22, 24, 0.3);
  border-width: 2px;
}

.delight-cover-wrapper.ui-droppable-hover {
  border-color: rgba(23, 22, 24, 0.5);
  color: rgba(23, 22, 24, 0.5);
  border-width: 2px;
}

.delight-cover-wrapper.dropped {
  background-color: #def9fd;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  z-index: 101;
}

.delight-cover-wrapper.dropped .delight-cover-pictures {
  background-color: #def9fd;
}

.delight-cover-wrapper.dropped .delight-cover-plus {
  display: none;
}

.delight-cover-wrapper.dropped .delight-cover-sun {
  transform: translateY(0%);
}

.delight-cover-wrapper.dropped .delight-cover-mountains {
  transform: translateY(2%);
}

.delight-cover-file:active {
  cursor: grabbing !important;
  filter: drop-shadow(0 4px 1.5px rgb(0 0 0 / 16%));
}

.dragged {
  transform: scale(0);
  opacity: 0;
}

.delight-theme-color {
  width: 22%;
  perspective: 1200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: flex;
  position: relative;
  transform: perspective(1200px);
}

.delight-theme-color.is-yellow {
  color: var(--yellow);
}

.delight-theme-color.is-blue {
  color: var(--blue);
}

.delight-theme-color.is-orange {
  color: var(--orange);
}

.delight-theme-color.is-pink {
  color: var(--pink);
}

.delight-theme-color.is-green {
  color: var(--green);
}

.delight-theme-color-circle {
  width: 100%;
  height: 0%;
  border-radius: 50%;
  flex: none;
  padding-top: 100%;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.52, 1.58);
  position: relative;
  transform: perspective(1200px);
}

.delight-theme-button {
  width: 100px;
  height: 70px;
  box-shadow: none;
  text-align: center;
  background-color: transparent;
  border-radius: 80px;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: relative;
}

.delight-theme-button:hover {
  background-color: var(--light);
}
.title3.text-light{
  color:#fff;
}
.delight-theme-button.w--current {
  color: var(--black);
  background-color: transparent;
  box-shadow: inset 0 8px 8px rgba(255, 255, 255, 0.24),
    inset 0 -12px 12px rgba(23, 22, 24, 0.08),
    inset 0 -2px 4px rgba(23, 22, 24, 0.12), 0 16px 8px rgba(0, 0, 0, 0.08),
    0 8px 4px rgba(0, 0, 0, 0.08), 0 4px 2px rgba(0, 0, 0, 0.08),
    0 2px 1px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.24);
}

.delight-theme-icon {
  opacity: 0.3;
  justify-content: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  position: relative;
  top: 0;
  left: 2px;
}

.hide {
  display: none;
}

.delight-preview-wrapper {
  position: relative;
  transform: rotate(13deg);
}

.delight-preview-image {
  position: relative;
}

.delight-preview-image.shape {
  z-index: 1;
  position: relative;
}

.delight-preview-image.black {
  z-index: 2;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.delight-preview-image.white {
  z-index: 3;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.delight-preview-inner {
  z-index: 2;
  width: 100%;
  height: 100%;
  perspective-origin: 50% 70%;
  transform-origin: 50% 70%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.delight-collab-wrapper {
  width: 3.2em;
  height: 3.2em;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 3px;
  display: flex;
  position: relative;
}

.delight-collab-wrapper:hover {
  padding: 0;
  transform: scale(1.02);
}

.delight-collab-wrapper:active {
  transform: scale(0.98);
}

.delight-collab-wrapper.green {
  flex-direction: column;
  border: 4px solid var(--green);
  color: var(--green);
  justify-content: center;
  align-items: center;
  display: flex;
  top: -1.5em;
}

.delight-collab-wrapper.blue {
  color: var(--blue);
   border: 4px solid var(--blue--hover);
  bottom: -1.5em;
}

.delight-collab-wrapper.yellow {
  color: var(--yellow);
   border: 4px solid var(--yellow);
  top: 1.2em;
}

.delight-collab-circle {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 50%;
  position: relative;
}

.delight-collab-arrow {
  width: 1.6em;
  perspective-origin: 50% 0;
  transform-origin: 50% 0;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  position: absolute;
  top: 1.4em;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: rotate(134deg);
}

.delight-collab-arrow.blue {
  transform: rotate(110deg);
}

.delight-collab-arrow.yellow {
  transform: rotate(-134deg);
}

.delight-collab-character {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.delight-collab-character.large {
  width: 110%;
  max-width: 110%;
  left: -7%;
}

.delight-incognito {
  width: 100%;
  max-width: 130px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.delight-incognito-image.eyes {
  width: 100%;
  filter: saturate(50%) brightness(110%);
  object-fit: contain;
}

.delight-incognito-image.mask {
  z-index: 1;
  transform-origin: left;
  position: absolute;
  width:100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.delight-bulk {
  width: 48px;
  height: 48px;
  /* border: 1px solid #000; */
  border-radius: 12px;
  padding: 8px;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}

.delight-bulk:hover,
.delight-bulk.active {
  color: var(--yellow);
}

.delight-bulk-check {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.1;
  border-radius: 4px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}

.delight-bulk-check.active {
  box-shadow: inset 0 4px 3px rgba(255, 255, 255, 0.24),
    inset 0 -2px 4px rgba(23, 22, 24, 0.16), 0 16px 8px rgba(23, 22, 24, 0.08),
    0 8px 4px rgba(23, 22, 24, 0.08), 0 4px 2px rgba(23, 22, 24, 0.08),
    0 2px 1px rgba(23, 22, 24, 0.08), 0 0 1px rgba(23, 22, 24, 0.24);
}

.delight-bulk-wrapper {
  grid-column-gap: 0.8em;
  grid-row-gap: 0.8em;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3.6em;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.delight-cover-sun.translate,.delight-cover-mountains.translate{
  transform: translateY(0%);
  transition:transform 1s ease-in- 2s;
}
.delight-cover-plus.w-embed.hidden{
  display:none;
}
.delight-cover-drag.hidden{
  opacity:0;
  -webkit-user-drag: none;
}
.delight-cover-wrapper.dashed{
  border: 3px dashed rgba(23, 22, 24, 0.2);
}
.delight-cover-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--light);
  color: rgba(23, 22, 24, 0.2);
  border: 1px dashed rgba(23, 22, 24, 0.2);
  border-radius: 1em;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.delight-cover-mountains {
  z-index: 2;
  width: 100%;
  object-fit: contain;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translateY(100%);
}

.delight-cover-sun {
  z-index: 1;
  width: 2em;
  object-fit: contain;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: absolute;
  top: 1em;
  bottom: auto;
  left: 1em;
  right: auto;
  transform: translateY(-200%);
}

.delight-cover-pictures {
  z-index: 200;
  width: 100%;
  height: 100%;
  padding-top: 1.2em;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.delight-cover-file {
  z-index: 100;
  width: 100%;
  cursor: grab;
  object-fit: contain;
  flex: none;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.delight-cover-file:active {
  transform: scale(1.06);
}

.delight-cover-plus {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.delight-cover-drag {
  z-index: 100;
  width: 64px;
  flex: none;
  position: relative;
}

.delight-shortcuts-bar-wrapper {
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.delight-shortcuts-bar-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.01);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
  position: relative;
}

.delight-shortcuts-bar-message {
  border: 1px solid var(--borders);
  background-color: var(--white);
  transform-origin: 50% 0;
  text-align: center;
  transform-style: preserve-3d;
  border-radius: 8px;
  margin-top: 42px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  transform: perspective(1200px);
}

.delight-shortcuts-bar-message:hover {
  color: var(--blue);
  transform: perspective(1200px) rotateX(-6deg) rotateY(0) rotate(0) perspective(1200px);
  box-shadow: inset 0 10px 15px rgba(43, 68, 231, 0.06);
}

.ch-7 {
  max-width: 30ch;
}

div.section-wrapper {
  max-width: 1440px;
  background-color: var(--grey-bg);
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 0;
}

.content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.delight-search-input {
  height: 100%;
  color: var(--black);
  background-color: transparent;
  border: 1px #000;
  font-family: ABC Marfa, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}


@media screen and (max-width: 991px) {

  .w-container7 {
    max-width: 728px;
  }

  .delight-wrapper.realtime {
    width: 60%;
    flex: 0 auto;
  }

  .delight-shortcuts-key:active {
    color: var(--blue--hover);
    transform: translateY(2px);
    box-shadow: inset 0 0 4px rgba(23, 22, 24, 0.16), inset 0 4px 2px #fff,
      inset 0 12px 24px #fff, 0 4px 2px rgba(23, 22, 24, 0.08),
      0 2px 1px rgba(23, 22, 24, 0.08), 0 0 1px rgba(23, 22, 24, 0.24);
  }

  .delight-cover-wrapper {
    min-height: 150px;
  }

  .section-wrapper {
    border-radius: 0;
  }
}

@media screen and (max-width:769px){
  .section-wrapper >.container {
    padding: 0 1.2rem;
    margin: 0 auto;
}
}

@media screen and (max-width: 767px) {

  .title7 {
    font-size: 2.4rem;
  }

  .container7 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .section-title7 {
    max-width: none;
    margin-top: 6rem;
  }

  .delights-grid7 {
    grid-template: "Cover" "Preview" "Pin" "Search" "Themes" "Bulk" "Collab" "Shortcuts" /1fr;
    padding:0 1.5rem;
  }

  .delight.cover {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .delight.preview {
    flex-direction: row-reverse;
    align-items: center;
  }

  .delight.bulk,
  .delight.shortcuts {
    flex-direction: row-reverse;
  }

  .delight.incognito {
    width: 100%;
  }

  .delight-content.preview {
    justify-content: center;
  }

  .delight-content.cover {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .delight-content.search,
  .delight-content.shortcuts,
  .delight-content.themes,
  .delight-content.bulk,
  .delight-content.incognito {
    justify-content: center;
  }

  .delight-wrapper.cover {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex: 1;
    padding: 24px;
  }

  .delight-wrapper.preview {
    justify-content: center;
    align-items: center;
  }

  .delight-wrapper.shortcuts {
    padding-bottom: 24px;
    padding-left: 0;
  }

  .delight-wrapper.realtime {
    width: 100%;
  }

  .delight-shortcuts-key {
    width: 4em;
    height: 4em;
  }

  .delight-theme-colors {
    justify-content: space-around;
  }

  .delight-theme-color {
    width: 14%;
  }

  .delight-bulk-wrapper {
    align-items: center;
    padding-bottom: 0.8em;
    padding-left: 0;
  }

  .title7 {
    font-size: 2.4rem;
  }

}

@media screen and (max-width: 479px) {

  .delight.preview,
  .delight.search,
  .delight.bulk,
  .delight.shortcuts,
  .delight.incognito {
    flex-direction: column;
  }

  .delight.realtime {
    flex-direction: column;
    align-items: stretch;
  }

  .delight-content7 {
    max-width: none;
  }
  .delight-content {
    max-width: none;
  }

  .delight-content.cover {
    max-width: none;
    text-align: left;
    align-items: flex-start;
  }

  .delight-content.search {
    max-width: none;
  }

  .delight-wrapper.cover {
    flex-direction: column;
    padding-bottom: 0;
  }

  .delight-wrapper.search {
    padding-top: 24px;
    padding-right: 24px;
  }

  .delight-wrapper.shortcuts {
    padding-left: 24px;
  }

  .delight-wrapper.bulk {
    justify-content: center;
    align-items: stretch;
    display: flex;
  }

  .delight-wrapper.incognito {
    padding-top: 24px;
  }

  .delight-bulk {
    flex: none;
  }

  .delight-bulk-wrapper {
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 0;
    padding-right: 0.8em;
    bottom: auto;
  }
}

#w-node-a0f2f313-23c1-b194-6429-3db4bdcbbc61-0d911088 {
  grid-area: Cover;
}

#w-node-_6488323b-2511-d467-dca4-7a64daee572b-0d911088 {
  grid-area: Preview;
}

#w-node-f0779bdf-aa48-9b7e-9116-024f62ee3ea7-0d911088 {
  grid-area: Search;
}

#theme-card.w-node-_21db81e3-27fc-6d96-3ebe-0e29523bf88a-0d911088 {
  grid-area: Themes;
}

#w-node-ed738e67-2ad0-bf0b-0ec2-06e996321e73-0d911088 {
  grid-area: Bulk;
}

#w-node-_99a86c8e-2b7b-4819-2bd4-d6e59019a62d-0d911088 {
  grid-area: Shortcuts;
}

#w-node-_61a52749-e1e6-336c-0b0f-8fd715de3e07-0d911088 {
  grid-area: Pin;
}

#w-node-_1b27e564-6a17-8226-c335-15a0cff4aef5-0d911088 {
  align-self: center;
}

#w-node-_220d47c5-5959-c1fe-922f-edb9a8ab44a7-0d911088 {
  align-self: start;
}

#w-node-_17527b17-c5a9-e06d-d3c8-7fbf122de92c-0d911088 {
  align-self: end;
}

#w-node-_85c302fc-bdd2-cec5-afe4-c478b8ebc00f-0d911088 {
  grid-area: Collab;
}

@font-face {
  font-family: "Inter";
  src: url("https://assets.website-files.com/62b5b85dd560583e288cb389/62b74b86372fb36beb5cc47c_Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("https://assets.website-files.com/62b5b85dd560583e288cb389/62b74b86fb8d63b6ccc4078b_Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("https://assets.website-files.com/62b5b85dd560583e288cb389/62b74b872684812074ffa471_Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("https://assets.website-files.com/62b5b85dd560583e288cb389/62b74b869b61695719ef89a3_Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABC Marfa";
  src: url("https://assets.website-files.com/62b5b85dd560583e288cb389/63f384cf40bd5beda992d69a_ABCMarfaVariable.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("https://assets.website-files.com/62b5b85dd560583e288cb389/64abedcdfbd77219354d9c9a_Roboto%20Mono%20Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 1.372rem;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: calc(1.041897987508745rem + 0.277585010409379vw);
  }
}

@media screen and (max-width: 479px) {
  html {
    font-size: calc(0.749215481171581rem + 1.255230125523025vw);
  }
  .delights-grid7{
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 376px) {
  .delights-grid7{
    padding: 0 0.5rem;
  }
}

.delight-wrapper.realtime {
  aspect-ratio: 4 / 3;
}

@keyframes gradient {
  0% {
    color: #000000;
    transform: rotate(-360deg);
  }

  50% {
    color: #2b44e7;
  }

  100% {
    color: #000000;
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    color: #000000;
    transform: rotate(-360deg);
  }

  50% {
    color: #2b44e7;
  }

  100% {
    color: #000000;
    transform: rotate(0deg);
  }
}