
  a{
    text-decoration:none;
    color:var(--black);
  }

  .footer-img{
    width: 7rem;
  }
  audio,
  canvas,
  progress {
    vertical-align: baseline;
    display: inline-block;
  }
  .tooltip-wrapper {
    min-width: 12.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    z-index: 99;
    line-height: 1.3;
    display: none;
    top: 115%;
    bottom: auto;
    position: absolute;
    margin-right: auto;
    left: -45%;
    right: auto;
  }

  .nav-logo {
    z-index: 1;
    height: 100%;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0.5rem;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    position: relative;
  }

  .button.blue{
    background-color: var(--blue);
    color: var(--white);

  }
  
  .contain.nav-container {
    height: 100%;
    max-width: 66.2rem;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-columns: 1fr;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    display: grid;
    overflow: visible;
  }

  .w-nav {
    z-index: 1000;
  }

  .nav {
    z-index: 10000;
    width: 100%;
    height: 64px;
    background-color: transparent;
    padding: 0 1.8rem;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  a {
    background-color: transparent;
  }
  
  h1 {
    margin: 0.67em 0;
    font-size: 2em;
  }
  
  img {
    border: 0;
  }
  
  
  
  figure {
    margin: 1em 40px;
  }
  
 
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }

.menu-size1{
  width:1.4rem;
  height: 2rem;
  z-index: 999;
  color: #000;
}
.menu-size{
  width:1.7rem;
  height: 2rem;
  z-index: 999;
}


  .nav-logo-svg img{
    cursor:pointer;
    transition: transform .3s ease-in-out;
  }
  .circle:hover{
    transform: rotate(360deg);
    color: #152589;

  }
  
  html.w-mod-touch * {
    background-attachment: scroll !important;
  }
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }
  
  figure {
    margin: 0 0 10px;
  }
  
  .w-embed:before,
  .w-embed:after {
    content: " ";
    grid-area: 1/1/2/2;
    display: table;
  }
  
  .w-embed:after {
    clear: both;
  }
  
  .contain>.nav-background {
    width: 100%;
    height: 100%;
    max-width: 51rem;
    padding:0 1.6rem;
    margin: 0 auto;
    border-style: none solid solid;
    border-width: 2px;
    border-color: var(--grey-2);
    background-color: #fff;
    border-radius: 0 0 24px 24px;
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    transform: translateY(-100%);
    box-shadow: 0 24px 48px -24px rgba(8, 8, 18, 0.377);
  }
  .contain>.is-visible{
    transform: translateY(0%);

  }

  .w-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .w-container:before,
  .w-container:after {
    content: " ";
    grid-area: 1/1/2/2;
    display: table;
  }
  
  .w-container:after {
    clear: both;
  }
  
  @media screen and (max-width: 991px) {
    .w-container {
      max-width: 728px;
    }
  
   
  
    .w-nav:before,
    .w-nav:after {
      content: " ";
      grid-area: 1/1/2/2;
      display: table;
    }
  
    .w-nav:after {
      clear: both;
    }
  
    .w-nav-brand {
      float: left;
      text-decoration: none;
      position: relative;
    }
  
    .w-nav-menu {
      float: right;
      position: relative;
    }
  
    .w-nav-button {
      float: right;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      tap-highlight-color: transparent;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 18px;
      font-size: 24px;
      display: none;
      position: relative;
    }
  
    @media screen and (max-width: 991px) {
      .w-nav[data-collapse="medium"] .w-nav-menu {
        display: none;
      }
  
      .w-nav[data-collapse="medium"] .w-nav-button {
        display: block;
      }
    }
  
  
    .w-layout-blockcontainer {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  
    @media screen and (max-width: 991px) {
      .w-layout-blockcontainer {
        max-width: 728px;
      }
    }
  
    body {
      background-color: var(--white);
      color: var(--black);
      font-family: Inter, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
    }
  
    h1 {
      letter-spacing: -0.025em;
      margin-top: 0;
      margin-bottom: 1.4rem;
      font-family: ABC Marfa, sans-serif;
      font-size: 3.8rem;
      font-weight: 900;
      line-height: 1;
    }
  
    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    img {
      max-width: 100%;
      display: inline-block;
    }
  
    figure {
      margin-bottom: 10px;
    }
  
    .code {
      background-color: var(--grey);
      display: none;
    }
  
    .section {
      padding-top: 3.2rem;
      padding-bottom: 3.2rem;
      position: relative;
    }
  
    .contain {
      width: 100%;
      max-width: 70rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
      position: relative;
    }
  
    .contain.nav-container {
      height: 100%;
      max-width: 38rem;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      flex-flow: row;
      grid-template-rows: auto;
      grid-template-columns: 1fr auto 1fr;
      grid-auto-columns: 1fr;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      padding: 8px 8px 8px 16px;
      display: grid;
      overflow: visible;
    }
  
    .contain.is-head {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      position: static;
    }
  
    .tagline {
      margin-bottom: 0;
      font-size: 1.2em;
      line-height: 1.4;
    }
  
    .nav {
      z-index: 10000;
      width: 100%;
      height: 64px;
      max-width:40rem;
      background-color: transparent;
      padding: 0 0.8rem;
      display: flex;
      position: fixed;
      top: 0%;
      bottom: auto;
      left: 0%;
      right: 0%;
    }
  
    
  
    .nav-items {
      z-index: 1;
      height: 100%;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
      display: flex;
      position: relative;
    }
  
    .nav-background {
      width: 100%;
      height: 100%;
      border-style: none solid solid;
      border-width: 2px;
      border-color: var(--grey);
      background-color: #fff;
      border-radius: 0 0 24px 24px;
      transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      overflow: hidden;
      transform: translateY(-100%);
      box-shadow: 0 24px 48px -24px rgba(56, 56, 138, 0.16);
    }
  
    .button {
      grid-column-gap: 0.6rem;
      grid-row-gap: 0.6rem;
      perspective-origin: 50% 0;
      transform-origin: 50% 0;
      text-align: center;
      transform-style: preserve-3d;
      border-radius: 64px;
      flex-direction: row;
      flex: none;
      justify-content: center;
      align-items: center;
      margin-top: 1.6rem;
      margin-left: 0;
      margin-right: 0;
      padding: 0.8rem 1.6rem;
      font-size: 0.8em;
      font-weight: 600;
      line-height: 1.2;
      display: flex;
      position: relative;
    }
  
    .button.is-outline {
      border: 2px solid var(--blue);
      background-color: var(--white);
      color: var(--blue);
      overflow: hidden;
    }
  
    .button.is-lightbox {
      z-index: 1;
      transform-style: preserve-3d;
      position: absolute;
      transform: perspective(1200px) translateZ(1px);
    }
  
    .button.is-lightbox.is-demo {
      opacity: 0;
      margin-top: 0;
    }
  
    .nav-logo-svg {
      width: 102px;
      flex: none;
      justify-content: flex-start;
      align-items: center;
      display: flex;
    }
  
    .button-arrow {
      width: 0.9rem;
      height: 0.9rem;
      flex: none;
      justify-content: center;
      align-items: center;
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.298, 1.937);
      display: flex;
      position: relative;
    }
  
    .button-arrow.is-small {
      width: 0.6rem;
      height: 0.6rem;
    }
  
    .section-title {
      width: 100%;
      max-width: 670px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3.2em;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      position: relative;
    }
  
    .buttons {
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      justify-content: center;
      align-items: stretch;
      margin-top: 2.8rem;
      display: flex;
    }
  
    .headline {
      font-size: 3.8em;
    }
  
    .clients-bar {
      width: 100%;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      border-bottom: 2px solid var(--borders);
      flex-flow: row;
      flex: none;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      margin: 3.2rem auto 0;
      padding-bottom: 3.2rem;
      display: grid;
      position: relative;
    }
  
    .clients-logo {
      object-fit: contain;
    }
  
    .nav-ctas {
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
      display: flex;
    }
  
    .button-arrow-wrapper,
    .button-arrow-wrapper.is-right {
      transform: rotate(0);
    }
  
    .head-ui-overlay-avatar {
      width: 6.4rem;
      box-shadow: 0 8px 16px -4px var(--borders), 0 2px 4px -1px var(--borders);
      opacity: 0;
      transform-origin: 100% 100%;
      object-fit: contain;
      background-color: #fff;
      border-radius: 50%;
      padding: 4px;
      position: absolute;
      top: auto;
      bottom: 1.6rem;
      left: auto;
      right: 1.6rem;
      transform: perspective(1200px);
    }
  
    .head {
      width: 100%;
      padding-top: 6.4rem;
      position: relative;
    }
  
    .head-title {
      z-index: 99;
      width: 100%;
      max-width: 30rem;
      text-align: center;
      flex-direction: column;
      flex: none;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 3.2rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      position: relative;
    }
  
    .donut-wrapper {
      width: 100%;
      max-width: 50rem;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  
    .donuts {
      width: 100%;
      position: relative;
    }

  
    .ui-row-wrapper {
      width: 100%;
      height: 3.2rem;
      flex-direction: column;
      flex: none;
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      transform: none;
    }
  
  
    .donut-video {
      width: 100%;
      position: relative;
    }
  
    .donut-video.is-back {
      z-index: 0;
    }
  
    .donut-video.is-front {
      z-index: 10;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
    }
  
    .ui-sticky {
      z-index: 3;
      width: 100%;
      flex: none;
      position: -webkit-sticky;
      position: sticky;
      top: 3.2rem;
      overflow: hidden;
      transform: translate(0);
    }
  
    .ui-overlay {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
    }
  
    .widget-banner {
      z-index: 99;
      grid-column-gap: 0.4rem;
      grid-row-gap: 0.4rem;
      color: var(--black);
      text-align: left;
      background-color: #f6e4f6;
      background-image: linear-gradient(#edf0ff, #cfd7ff);
      border-radius: 32px;
      flex-flow: row;
      flex: none;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.2rem;
      margin-left: auto;
      margin-right: auto;
      padding: 0.6rem 1rem 0.6rem 0.6rem;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      display: flex;
      position: relative;
      overflow: hidden;
      box-shadow: 0 16px 16px rgba(43, 68, 231, 0.04),
        0 8px 8px rgba(43, 68, 231, 0.04), 0 2px 2px rgba(43, 68, 231, 0.08),
        inset 0 3px 6px rgba(255, 255, 255, 0.64),
        inset 0 -3px 12px rgba(110, 129, 255, 0.24),
        inset 0 8px 12px rgba(255, 255, 255, 0.42);
    }
  
    .widget-link {
      grid-column-gap: 0.25em;
      grid-row-gap: 0.25em;
      color: var(--blue);
      flex-direction: row;
      flex: none;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      display: flex;
      position: relative;
    }
  
    .widget-emoji {
      width: 1.4rem;
      height: 1.4rem;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      flex: none;
      justify-content: center;
      align-items: center;
      padding-top: 0.15rem;
      padding-left: 0.035rem;
      line-height: 1;
      display: flex;
    }
  
    .ui-wrapper {
      width: 100%;
      height: 100%;
      flex: none;
      padding: 0.8rem;
      position: relative;
    }
  
    .ui-wrapper.is-final {
      width: 100%;
      height: 3.2rem;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      position: absolute;
      top: 0%;
      bottom: auto;
      left: 0%;
      right: 0%;
      overflow: hidden;
      transform: translateY(-100%);
    }
  
    .ui-wrapper.is-insta {
      grid-column-gap: 1.2rem;
      grid-row-gap: 1.2rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      display: flex;
    }
  
    .ui-wrapper.is-slack {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1.5fr auto;
      grid-auto-columns: 1fr;
      display: grid;
    }
  
    .ui-wrapper.is-twitter {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
    }
  
    .ui-wrapper.is-youtube {
      grid-column-gap: 1.2rem;
      grid-row-gap: 1.2rem;
      grid-template-rows: min-content min-content auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      align-content: stretch;
      display: grid;
    }
  
    .ui-image-wrapper {
      width: 1.6rem;
      border-radius: 50%;
      flex: none;
      position: relative;
      overflow: hidden;
    }
  
    .ui-image-wrapper.is-transparent {
      opacity: 0;
    }
  
    .ui-picture-wrapper {
      width: 1.6rem;
      background-color: var(--grey-bg);
      object-fit: cover;
      border-radius: 50%;
      flex: none;
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      overflow: hidden;
    }
  
    .ui-horizontal {
      width: 100%;
      grid-column-gap: 0.6rem;
      grid-row-gap: 0.6rem;
      justify-content: flex-start;
      align-items: center;
      display: flex;
    }
  
    .ui-line {
      width: 100%;
      height: 0.6rem;
      max-width: 6.4rem;
      min-width: 3.2rem;
      background-color: var(--grey-bg);
      transform-origin: 0%;
      border-radius: 1rem;
      margin-right: 0.8rem;
      position: relative;
    }
  
    .head-ui-overlay {
      z-index: 99;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
    }
  
    .head-ui-overlay-button {
      width: 10rem;
      height: 3rem;
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      overflow: hidden;
    }
  
    .text-block-2 {
      color: #707070;
      margin-top: 16px;
      font-size: 14px;
      line-height: 26px;
    }
  
    @media screen and (max-width: 991px) {
      .contain.nav-container {
        display: flex;
      }
  
      .nav {
        padding-left: 12px;
        padding-right: 12px;
      }
  
      .nav-items {
        height: auto;
        border: 1px solid var(--grey-bg);
        background-color: var(--grey-bg);
        border-radius: 24px;
        margin-top: 1rem;
        padding-top: 1.2rem;
        position: absolute;
        top: 100%;
        bottom: auto;
        left: 0%;
        right: 0%;
        box-shadow: 0 16px 16px rgba(23, 22, 24, 0.04),
          0 8px 8px rgba(23, 22, 24, 0.04), 0 4px 4px rgba(23, 22, 24, 0.04),
          0 2px 2px rgba(23, 22, 24, 0.04);
      }
  
      .nav-mobile {
        height: 100%;
        flex: none;
        margin-right: 5px;
        padding: 9px 12px;
      }
  
      .nav-mobile-lottie {
        width: 2rem;
        height: 2rem;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        display: flex;
      }
  
      .clients-bar {
        grid-column-gap: 3rem;
        grid-row-gap: 1.5rem;
        flex-wrap: wrap;
      }
  
      .nav-ctas.is-desktop {
        display: none;
      }
  
      .head-ui-overlay-avatar {
        width: 4.8rem;
      }
  
      .head-ui-wrapper.is-desktop {
        display: none;
      }
  
      
  
      .ui-row.is-1,
      .ui-row.is-2,
      .ui-row.is-3,
      .ui-row.is-4,
      .ui-row.is-5,
      .ui-row.is-6 {
        width: 100%;
        height: 3.2rem;
      }
  
      .ui-sticky {
        position: relative;
        top: 0;
        overflow: visible;
      }
  
      .ui-overlay {
        position: static;
      }
  
      .ui-wrapper.is-final {
        transform: none;
      }
  
      .ui-wrapper.is-insta,
      .ui-wrapper.is-image,
      .ui-wrapper.is-slack,
      .ui-wrapper.is-twitter,
      .ui-wrapper.is-youtube {
        display: none;
      }
  
      .ui-image-wrapper.is-transparent {
        opacity: 1;
      }
  
      .ui-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  #w-node-_8feff86c-b318-d1af-6266-96dad34cab8b-0d911088 {
    justify-self: end;
  }
  
  #w-node-_94dce9b7-2909-bc55-e3e7-a03aedcd0da9-edcd0da7 {
    grid-area: 1/1/2/2;
  }
  
  #w-node-_44cf08b7-8323-7a14-c847-b755c7dfa03f-edcd0da7 {
    grid-area: 1/3/2/4;
    align-self: stretch;
    justify-self: end;
  }
  
  /* Fluid typography */
  html {
    font-size: 1.373rem;
  }
  @media screen and (max-width: 1920px) {
    html {
      font-size: calc(1.041897987508675rem + 0.277585010409439vw);
    }
  }
  @media screen and (max-width: 479px) {
    html {
      font-size: calc(0.749215481171541rem + 1.255230125523015vw);
    }
  }
  
  /* Reset Webflow native styling */
  a,
  .w-nav-link,
  .w-dropdown-btn,
  .w-dropdown-toggle,
  .w-dropdown-link,
  .w-nav-brand {
    color: inherit;
  }
  
  /* Reset browsers native form styling */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  
  /* Icon animation on button hover */
  .button.with-arrow:hover .button-arrow {
    transform: translateX(3px);
  }
  
  /* Remove bottom-margin from these elements */
  .section-title:only-child,
  .section-title:last-child,
  h2:only-child,
  h2:last-child,
  .h2:only-child,
  .h2:last-child,
  .hz-tab-menu h3,
  .rich-text p:last-child {
    margin-bottom: 0;
  }
  
  .buttons .button {
    margin-top: 0;
  }
  
  /* Bold taglines are semibold */
  .tagline strong {
    font-weight: 600;
  }
  
  /* Remove native checkbox styling */
  .w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: none;
  }
  
  /* These elements will be invisible to the mouse */
  .delights-shortcuts-bar-wrapper,
  .delights-shortcuts-bar-overlay,
  .hero-gradient,
  .head-ui-overlay {
    pointer-events: none;
  }
  
  /* These elements will be visible to the mouse */
  .delights-shortcuts-bar-message,
  .button.is-lightbox {
    pointer-events: auto;
  }
  
  .header-wheel-video,
  .scrolly-visual-wrapper,
  .delight-toggle-ball,
  .ui-picture-wrapper,
  .ui-grid.is-square,
  .ui-profile {
    aspect-ratio: 1 / 1;
  }
  
  .hero-gradient {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 20%,
      black 30%,
      black 90%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 20%,
      black 30%,
      black 90%,
      transparent 100%
    );
  }
  
  .cycle {
    transform-origin: 14px 14px;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .donut-vid {
    width: 100%;
  }
  
  .donut-video.is-front {
    -webkit-mask-image: linear-gradient(to bottom, transparent 40%, black 45%);
    mask-image: linear-gradient(to bottom, transparent 40%, black 45%);
  }
  
  .donut-video.is-back {
    -webkit-mask-image: linear-gradient(to top, transparent 40%, black 45%);
    mask-image: linear-gradient(to top, transparent 40%, black 45%);
  }
  
  .cycle {
    transform-origin: 14px 14px;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  